<!doctype html>
<html>
<head>
	<title>Mika's Test Page</title>
	<meta charset="utf-8" />
</head>
<body>
	<h1>Mika's Test Page</h1>
	<p>Let's test UTF-8 with "päivää"</p>
	<p>See you at <a href="https://selvinen.wordpress.com/">Selvinen</a></p>
</body>
</html>
